*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3ff64;
    height: 100vh;
}

.container{
    border-radius: 10px;
    width: 550px;
    padding: 40px;
    background: #e3f2fd;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.container h3{
    text-align: center;
    font-size: 1.8em;
    padding-bottom: 8px;
    margin-top: 18px;
}

.container textarea {
    position: relative;
    margin-bottom: 20px;
    resize: none;
    height: 200px;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: none;
    outline: none;
}

.container p{
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #333;
}

.container p .count{
    font-size: 24px;
    color: red;
    font-weight: 600;
    margin-left: 10px;
}